<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Tạo tài khoản Siêu Thị Xanh</h3>
    </div>
    <div>
         <form action="/signup" method="POST">
            <div>
                <label for="username" class="form-label">Tên tài khoản:</label>
                <input type="text" name="username" class="form-control" id="username" required placeholder="Tên tài khoản">
            </div>
            <div>
                <label for="password" class="form-label">Mật khẩu:</label>
                <input type="text" name="password" class="form-control" id="password" required placeholder="Mật khẩu">
            </div>
            <div>
                <label for="re_password" class="form-label">Xác nhận mật khẩu:</label>
                <input type="text" name="re_password" class="form-control" id="Re_password" required placeholder="Xác nhận mật khẩu">
            </div>
            <div>
                <label for="name" class="form-label">Họ và tên:</label>
                <input type="text" name="name" class="form-control" id="name" required placeholder="Họ và tên">
            </div>
            <div>
                <label for="phone" class="form-label">Số điện thoại:</label>
                <input type="text" name="phone" class="form-control" id="phone" required placeholder="Số điện thoại">
            </div>
            <div>
                <label for="email" class="form-label">Email:</label>
                <input type="text" name="email" class="form-control" id="email" required placeholder="Email">
            </div>
            <div>
                <label for="address" class="form-label">Địa chỉ:</label>
                <input type="text" name="address" class="form-control" id="address" required placeholder="Địa chỉ">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
           
    </div>
    
   
    </form>
</body>
</html>